base58
cycler
dateparser
fasttext
lxml
matplotlib
numpy
pandas
progressbar2
pyparlaclarin
pyriksdagen
requests
scikit_learn
seaborn
selenium
SPARQLWrapper
tensorflow
textdistance
torch
tqdm
transformers
Unidecode
Wikidata